/* Will be compiled down to a single stylesheet with your sass files */
ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
	li {
		margin: 0 10px 10px 0;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		display: inline-block;
		background: #e8e8e8;
		border: 1px solid #333;
		cursor: pointer;
	}
		li:hover {
			background: #ccc;
		}
	.selected {
		opacity: .3;
	}